<form action="/employee/update/<%=employee.id%>" method="post">
	<div>
		<label for="">First Name</label>
		<input type="text" name="first_nm" value="<%=employee.first_nm%>" />
	</div>
	<div>
		<label for="">Last Name</label>
		<input type="text" name="last_nm" value="<%=employee.last_nm%>" />
	</div>
	<div>
		<label for="">Salary</label>
		<input type="number" name="salary" value="<%=employee.salary%>" />
	</div>
	<div>
		<label for="">Pay Day</label>
		<input type="date" name="pay_day" value="<%=employee.pay_day%>" />
	</div>
	<div>
		<label for="">Bonus</label>
		<input type="number" name="bonus" value="<%=employee.bonus%>" />
	</div>
	<div>
		<button type="submit">Edit Employee</button>
	</div>
</form>
